.gallery{
    display: flex;
    gap: 1rem;
    height: 500px;
    width: 80%;
}

.gallery > div{
    flex: 1;
    transition: 1s;
}

.gallery > div:nth-child(1){
    background-image: url(./image\ 1.jpg);
    background-position: center;
    background-size: cover;
}

.gallery > div:nth-child(2){
    background-image: url(./image\ 2.jpg);
    background-position: center;
    background-size: cover;
}

.gallery > div:nth-child(3){
    background-image: url(./image\ 3.jpg);
    background-position: center;
    background-size: cover;
}

.gallery > div:hover{
    flex: 6;
}